  .pageFooter {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4rem;            /* Footer height */
  }

  .contentContainer {
    padding-bottom: 4rem;
  }

  .pageContainer {
    position: relative;
    min-height: 100vh;
  }
  .navContainer {
    overflow:hidden;
    display:inline;
  }

  .social {
    margin-left:5px;
    margin-right:5px;
  }
  
  .main {
    position: relative;
    min-height: 100vh;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .headerImage {
    width: 6rem;
    height: 6rem;
    margin: 1rem auto 1rem;
  }
  
  .headerHomeImage {
    width: 8rem;
    height: 8rem;
    margin: 0rem auto 2rem;
    background-color: #00AAFF;
  }

  .backToHome {
    margin: 3rem 0 0;
  }

  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  

  .swapFigure {
	  margin: 0 auto;
  }

  /* Select the image and make it absolute to the container */
  .swapFigure .swapOnHoverFrontImage {
    position: absolute;
    overflow: hidden;
  }
  .swapFigure .swapOnHoverBackImage {
    position: relative;
    overflow: hidden;
  }

  /*
    We set z-index to be higher than the back image, so it's alwyas on the front.

    We give it an opacity leaner to .25s, that way when we hover we will get a nice fading effect.
  */
  .swapOnHoverFrontImage {
    z-index: 9999;
    transition: opacity .5s linear;
    cursor: pointer;
  }

  /* When we hover the figure element, the block with .swap-on-hover, we want to use > so the front-image is going to have opacity of 0, which means it will be hidden, to the back image will show */
  .swapFigure:hover > .swapOnHoverFrontImage{
    opacity: 0;
  }