html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Serif, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #555;
}

h1 {
  font-family: sans-serif;
}

p {
  font-family: Serif;
}

h1,
h2,
b {
  color: #333;
}

* {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */

  transition: all 0.3s ease-in-out 0s;
}

a:hover {
  /* color: #A339CB; */

  color: #FFFFFF ;
  background-color: #343A40 ;
  text-decoration: none;
}

img {
  max-width: 100%;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

header {
  background-color: #000000;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 5vw 2em;
  text-align: center;
}